<% if booking.rejected? %>
  <% status_printable = "refusée" %>
  <% status_color = "danger" %>
<% elsif booking.accepted? %>
  <% status_printable = "acceptée" %>
  <% status_color = "success" %>
<% elsif booking.pending? %>
  <% status_printable = "en attente" %>
  <% status_color = "info" %>
<% end %>

<div class="card" style="width: 20rem;">
  <%= cl_image_tag booking.mouette.photo.key, height: 300, crop: :fill, class:"w-100" %>
  <div class="card-body">
    <h5 class="card-title">
      <%= booking.mouette.name %>
    </h5>
    <p class="card-text">
      Location <%= I18n.l(booking.start_date, format: "%D %B %Y%") %>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span class="badge rounded-pill text-bg-<%= status_color %>">
        Location <%= status_printable %>
      </span>
    </li>
  </ul>
  <div class="card-body">
    <%= link_to "Accept",
      accept_booking_path(booking),
      data: { turbo_method: :patch,
      turbo_confirm: "Êtes-vous sûrs d'accepter cette location ?"},
      class: "btn rounded btn-success btn-sm mb-1" %>
    <%= link_to "Reject",
      reject_booking_path(booking),
      data: { turbo_method: :patch,
      turbo_confirm: "Êtes-vous sûr de refuser cette location ?"},
      class: "btn rounded btn-danger btn-sm mb-1" %>
  </div>
</div>
