<h1> Mes locations de mouettes </h1>

<div>
  <% @bookings.each do |booking| %>
  <div>
    Mouette louée : <%= booking.mouette.name %>
    Start date : <%= booking.start_date %>
    End date : <%= booking.end_date %>
    Locataire : <%= booking.renter.first_name %> <%= booking.renter.last_name %>
  </div>
  <% end %>
</div>
