<div class="container">
  <h1 class="d-flex justify-content-center mt-5"> Mes locations de mouettes </h1>
<br><br><br><br><br><br><br>
<div>
  <% @bookings.each do |booking| %>
  <div>
    Mouette louée : <%= booking.mouette.name %>
    Start date : <%= booking.start_date %>
    End date : <%= booking.end_date %>
    Propriétaire : <%= booking.mouette.owner.first_name %> <%= booking.mouette.owner.last_name %>
  </div>
  <% end %>
</div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <%= link_to "Voir les mouettes", root_path, class: "btn btn-info btn-lg my-3 col-2" %>
</div>
