<div>

    <%= link_to mouette_path(mouette), class: "mouette-name text-decoration-none text-reset" do %>
      <div class="card-mouette rounded-4">



        <div class="card-img-top rounded-top-4"
            style="background-image: url('<%= cl_image_path mouette.photo.key, crop: :fill %>')">
        </div>


        <div class="card-body pb-2">

          <div class="card-price-rating mx-4 mt-3">
            <% mouette.rating.round.times do %>
                <p>⭐</p>
            <% end %>
            <p class="mr-3"><em><%=mouette.price%> €</em></p>
          </div>

          <h5 class="d-flex justify-content-center font-card-mouette"> <%= mouette.name %></h5>
          <%# Hide availability until we manage it with dates properly %>
          <p class="card-text d-none"><small class="text-body-secondary"><%=mouette.availability%></small></p>
        </div>

      </div>
      <% end %>
</div>
