  <div class="d-flex justify-content-end align-items-center rounded position-relative m-0">
    <div class="shadow bg-white col-3 p-4 ms-3 rounded-5 position-absolute start-0">
      <h1>Trouvez votre mouette grâce à Ty-Mouët' ! </h1>
        <form action="" class="d-flex justify-content-around">
          <div>
          <label for="start">Date de début:</label>
          <input type="date" id="start-wanted-date" name="trip-start" value= Date.today min="2024-11-20" max="2028-12-31" />
          </div>
          <div>
          <label for="start">Date de fin:</label>
          <input type="date" id="end-wanted-date" name="trip-start" value= Date.today min="2024-11-21" max="2028-12-31" />
          </div>
        </form>
        <%= form_with url: root_path, method: :get, class: "d-flex mt-3" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Trouve ta mouette"
            %>
          <%= submit_tag "Bon vol", name: "", class: "btn btn-outline-primary" %>
        <% end %>


  </div>

  <div class="col-12 col-sm-9 m-0">
    <div class="banner d-flex end-0 flex-column mb-3 align-items-center justify-content-center align-middle gap-3 rounded-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519929436393-fe843baf2cec?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="d-flex flex-column mb-3 align-items-center gap-3">
      <h1 class="fs-1 text">Ty-mouët</h1>
      <h1 class="fs-2 text">À chaque occasion sa mouette</h1>
      <p class="fs-4 text">Proposez votre mouette ou trouver les meilleures mouettes à proximité </p>
      <div class="d-flex flex-row">
        <%= link_to "Ajoutez une mouette", new_mouette_path, class: "btn btn-outline-light rounded p-3 me-3 fs-5 text" %>
        <a class="btn btn-outline-light rounded p-3 fs-5 text" href="#index-title">Voir les mouettes</a>
      </div>
    </div>
  </div>
  </div>
</div>


<div class="container mt-3">
<div class="rounded-5", style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

</div>


<div class="container d-flex flex-column justify-content-center space-between ">
    <h1 id="index-title" class="my-5 text-center"><strong>Trouvez les mouettes de votre région</strong></h1>


    <%# <div class="row justify-content-center">
      <%# <div class="col-sm-8 my-3"> %>
        <%# <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%# <%= text_field_tag :query, %>
                <%# params[:query], %>
                <%# class: "form-control", %>
                <%# placeholder: "Type a keyword" %>
            <%# %>
          <%# <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <%# <% end %>
      <%# </div> %>
    <%# </div> %>

    <div class="d-flex justify-content-center align-items-center">
      <div class="row d-flex justify-content-around">

        <% @mouettes.each do |mouette|  %>
          <div class="card col-12 col-sm-3 m-2">
            <div class="card-img">
              <img src="<%= cl_image_path mouette.photo.key, crop: :fill %>" alt="<%mouette.name%> the seagull" class="card-img-top">
              <p class="m-2 p-2"><%= mouette.rating %> ⭐️</p>
            </div>
            <div class="card-body">
              <div class="card-price">
                <p><%=mouette.price%> €</p>
              </div>
              <h5 class="card-title"><%= link_to mouette.name, mouette_path(mouette), class: "text-decoration-none text-reset" %></h5>
              <%# Hide availability until we manage it with dates properly %>
              <p class="card-text d-none"><small class="text-body-secondary"><%=mouette.availability%></small></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

</div>

<div class="d-flex justify-content-center align-items-center">
    <%= link_to "Ajoutez une mouette", new_mouette_path, class: "btn btn-info btn-lg my-3 col-2" %>
</div>
</div>
