
<div class="d-flex flex-column m-0 col-sm-12">
  <div class="global-banner d-flex flex-row-reverse justify-content-between align-items-center row row-cols-1 row-cols-sm-2 g-0">

    <div class="col z-0 col-sm-7">
      <div class="banner img-fluid d-flex mb-3 gap-3 mx-0 rounded-5" style="height:100vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519929436393-fe843baf2cec?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-position: center;">
        <div class="banner-title d-flex flex-column justify-content-center align-items-end gap-3 px-3">
          <h1 class="fs-1 text-end">Ty-mouët'</h1>
          <h1 class="fs-1 text-end">À chaque occasion sa mouette</h1>
          <%# <p class="fs-4 text-end col-6 col-sm-6">Proposez votre mouette à la location !</p> %>
          <div class="d-flex flex-row row row-cols-1 row-cols-sm-2 g-3 justify-content-center">
            <%= link_to "Ajoutez une mouette", new_mouette_path, class: "col btn btn-outline-light rounded p-3 fs-5 text col-12 col-sm-8" %>
            <%= link_to "Voir les mouettes", root_path, class: "col btn btn-outline-light rounded p-3 fs-5 text col-12 col-sm-8" %>
            <%# <a class="btn btn-outline-light rounded p-3 fs-5 text" href="#index-title">Voir les mouettes</a> %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-4 ms-2 shadow bg-white rounded-5 z-1">
      <h1 class="d-flex justify-content-center text-center mb-4">Trouvez votre mouette grâce à <br>Ty-Mouët' ! </h1>
      <form action="" class="d-flex justify-content-around mb-5 row row-cols-1 row-cols-sm-2">
        <div class="col d-flex flex-column justify-content-center">
          <label for="start" class="text-center"><strong>Date de début:</strong></label>
          <input type="date" id="start-wanted-date" name="trip-start" value= Date.today min="2024-11-20" max="2028-12-31" />
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <label for="start" class="text-center"><strong>Date de fin:</strong></label>
          <input type="date" id="end-wanted-date" name="trip-start" value= Date.today min="2024-11-21" max="2028-12-31" />
        </div>
      </form>
      <%= form_with url: root_path, method: :get, class: "d-flex mt-3 px-4" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Trouve ta mouette"
          %>
        <%= submit_tag "Bon vol", name: "", class: "btn btn-outline-primary " %>
      <% end %>
    </div>
  </div>


  <div class="mt-3 mx-5 d-flex flex-column align-items-center">

    <%# Carte  %>

    <div class="rounded-5 col-10 col-sm-9", style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>



    <div class="d-flex flex-column col-12 col-sm-9  align-items-center flex-wrap">
      <h1 id="index-title" class="my-5 text-center"><strong>Trouvez les mouettes de votre région</strong></h1>

        <div class="d-flex mt-5 flex-wrap gap-3 align-items-center">
            <% @mouettes.each do |mouette|  %>
              <div class="col d-flex justify-content-center">
                <%= render "mouette_card", mouette: mouette %>
              </div>
            <% end %>
        </div>

      <div class="d-flex justify-content-center align-items-center my-4">
        <%= link_to "Ajoutez une mouette", new_mouette_path, class: "btn btn-outline-dark btn-lg my-4 p-3 text-wrap" %>
      </div>
    </div>
  </div>
</div>
