
<div class="d-flex flex-column m-0 col-sm-12">


  <div class="global-banner d-flex flex-column">

    <div class="banner d-flex justify-content-end" >
      <img src="https://images.unsplash.com/photo-1519929436393-fe843baf2cec?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>


    <div class="banner-cadre-reservation shadow bg-white rounded-5">
      <h1 class="d-flex justify-content-center text-center mb-4">Trouvez votre mouette grâce à <br>Ty-Mouët' ! </h1>
      <form action="" class="d-flex justify-content-around mx-1 mb-5 row row-cols-1 row-cols-sm-2">
        <div class="col d-flex flex-column justify-content-center">
          <label for="start" class="text-center"><strong>Date de début:</strong></label>
          <input type="date" id="start-wanted-date" name="trip-start" value= Date.today min="2024-11-20" max="2028-12-31" />
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <label for="start" class="text-center"><strong>Date de fin:</strong></label>
          <input type="date" id="end-wanted-date" name="trip-start" value= Date.today min="2024-11-21" max="2028-12-31" />
        </div>
      </form>
      <%= form_with url: root_path, method: :get, class: "d-flex mt-3 px-4" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Trouve ta mouette"
          %>
        <%= submit_tag "Bon vol", name: "", class: "btn btn-outline-primary " %>
      <% end %>
    </div>
  </div>


  <div class="carte-map mt-3 mx-5 d-flex flex-column align-items-center row g-0 ">

    <%# Carte  %>

    <div class="rounded-5 col-10 col-sm-9", style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>



    <div class="d-flex flex-column col-12 col-sm-9 z-0 align-items-center flex-wrap">
      <h1 id="index-title" class="my-5 text-center"><strong>Trouvez les mouettes de votre région</strong></h1>

        <div class="d-flex mt-5 flex-wrap gap-3 align-items-center">
            <% @mouettes.each do |mouette|  %>
              <div class="col d-flex justify-content-center">
                <%= render "mouette_card", mouette: mouette %>
              </div>
            <% end %>
        </div>

      <div class="d-flex justify-content-center align-items-center my-4">
        <%= link_to "Ajoutez une mouette", new_mouette_path, class: "btn btn-outline-dark btn-lg my-4 p-3 text-wrap" %>
      </div>
    </div>
  </div>
</div>
