<div class="container d-flex flex-column m-6">

  <h1 class="my-5">Créer votre nouvelle mouette</h1>



    <%= simple_form_for @mouette do |f| %>
      <div class="cards-new-form ">

        <%= f.input :name, required: true %>
        <%= f.input :availability, collection: Mouette::AVAILABILITY %>
        <%= f.input :rating %>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
        <%= f.input :accessories, collection: Mouette::ACCESSORIES %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-info d-flex justify-content-center align-items-center m-4 col-5" %>
      </div>


    <% end %>



</div>
