<div class="d-flex justify-content-center align-items-center flex-column my-5 ">

  <h1> <%= @mouette.name %> </h1>
  <p> <%= cl_image_tag @mouette.photo.key, height: 300, crop: :fill %> </p>
  <p> <%= @mouette.description %></p>
  <p> Disponibilités : <%= @mouette.availability %></p>
  <p> Cette mouette à une note de : <%= @mouette.rating %> ⭐️</p>
  <div class="btn btn-info col-2 my-4"><%= link_to "Retour à la liste des mouettes", root_path %></div>

</div>

<% if current_user %>
  <% if current_user != @mouette.owner %>
    <%= simple_form_for [@mouette, @booking] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path do %>
  <button class="btn btn-primary">Sign in</button>
  <% end %>
  <%= link_to new_user_registration_path do %>
  <button class="btn btn-secondary">Sign up</button>
 <% end %>
<% end %>
